<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195591511601-vclm2r5cesje6iesfean0tk7elre4kca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195591511601-vclm2r5cesje6iesfean0tk7elre4kca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195591511601-bcobjn0earj955uq1tt6tvemjc59uo4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCydu3URoQlZ_bx-bzpboazTPOfUZv4u6U</string>
	<key>GCM_SENDER_ID</key>
	<string>195591511601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodeWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>foode-cb266</string>
	<key>STORAGE_BUCKET</key>
	<string>foode-cb266.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195591511601:ios:4d65ef37e41f81b7d4ff10</string>
</dict>
</plist>